openapi: 3.1.0
info:
  title: Legend Info API
  version: 0.1.0
  summary: Hyperliquid-compatible info API with local processing, operated by Legend (legend.trade).
  description: >-
    The public read surface of Legend's trading platform, served at
    https://api.legend.trade. The service self-identifies as `@legend/hl-node`
    v0.1.0 — "Hyperliquid-compatible info API with local processing" — and
    mirrors the Hyperliquid `POST /info` request-type convention while adding
    Legend-specific endpoints (`/sparklines`) and an operator-authenticated
    wallet registration surface used for fill tracking.

    This description was GENERATED by the API Evangelist enrichment pipeline
    from the API's own self-describing root document (GET https://api.legend.trade)
    and from live probes of each endpoint on 2026-07-19. Legend publishes an
    `openapi.json` at docs.legend.trade/api-reference/openapi.json, but as of
    this run that file is the unmodified Mintlify "OpenAPI Plant Store" scaffold
    and does not describe the Legend API — it was deliberately NOT harvested.
    Request/response schemas below are typed only where a live response was
    observed; unobserved shapes are left open rather than invented.
  contact:
    name: Legend
    url: https://docs.legend.trade
  x-api-evangelist:
    method: generated
    generated: '2026-07-19'
    source: https://api.legend.trade (self-describing root document) + live endpoint probes
    upstream: https://hyperliquid.xyz
servers:
  - url: https://api.legend.trade
    description: Production
tags:
  - name: Health
    description: Service health and liveness.
  - name: Info
    description: Hyperliquid-compatible market and account info queries.
  - name: Market Data
    description: Legend-specific market data extensions.
  - name: Wallets
    description: Wallet registration for fill tracking (authenticated).
paths:
  /health:
    get:
      operationId: getHealth
      tags: [Health]
      summary: Health check
      description: >-
        Returns service health, the deployed git SHA, a server timestamp, and
        per-dependency check results (Hyperliquid visor and Postgres) with
        latency in milliseconds.
      security: []
      responses:
        '200':
          description: Service health snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
              example:
                status: healthy
                gitSha: 8d5b251
                timestamp: '2026-07-19T21:14:24.074Z'
                checks:
                  hlVisor: { status: ok, latencyMs: 3 }
                  postgres: { status: ok, latencyMs: 235 }
  /info:
    post:
      operationId: postInfo
      tags: [Info]
      summary: Hyperliquid-compatible info query
      description: >-
        Single multiplexed read endpoint. The `type` field in the request body
        selects the query; the response shape varies by type. Unknown types
        return HTTP 400 with an `error` envelope. GET on this path returns 404 —
        the endpoint is POST-only.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfoRequest'
            examples:
              meta:
                summary: Perpetuals universe metadata
                value: { type: meta }
              candleSnapshot:
                summary: Historical candles
                value: { type: candleSnapshot }
              clearinghouseState:
                summary: Account state
                value: { type: clearinghouseState }
      responses:
        '200':
          description: >-
            Query result. Shape depends on the requested `type`; for `meta` the
            response carries a `universe` array of tradable assets.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                universe:
                  - { name: BTC, szDecimals: 5, maxLeverage: 40, marginTableId: 56 }
                  - { name: ETH, szDecimals: 4, maxLeverage: 25, marginTableId: 55 }
        '400':
          description: Unknown or malformed request type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: 'Unknown request type: bogusType'
  /sparklines:
    get:
      operationId: getSparklines
      tags: [Market Data]
      summary: 24h price sparklines for multiple coins
      description: >-
        Legend-custom endpoint. Returns 24 hours of close-price candles keyed by
        coin symbol. Candle entries carry `t` (epoch milliseconds) and `c`
        (close price as a string).
      security: []
      parameters:
        - name: coins
          in: query
          required: true
          description: Comma-separated coin symbols, e.g. `BTC,ETH`.
          schema:
            type: string
          example: BTC,ETH
      responses:
        '200':
          description: Sparklines keyed by coin symbol.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SparklineMap'
              example:
                BTC:
                  candles:
                    - { t: 1784409300000, c: '64720' }
                    - { t: 1784411100000, c: '64729' }
  /sparklines/{coin}:
    get:
      operationId: getCoinSparkline
      tags: [Market Data]
      summary: 24h price sparkline for a single coin
      security: []
      parameters:
        - name: coin
          in: path
          required: true
          description: Coin symbol, e.g. `BTC`.
          schema:
            type: string
          example: BTC
      responses:
        '200':
          description: Sparkline for the requested coin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SparklineMap'
  /wallets/register:
    post:
      operationId: registerWallet
      tags: [Wallets]
      summary: Register a wallet for fill tracking
      description: Authenticated operator endpoint. Unauthenticated calls return HTTP 401.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Wallet registered.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /wallets/bulk:
    post:
      operationId: bulkRegisterWallets
      tags: [Wallets]
      summary: Bulk register wallets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Wallets registered.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /wallets/sync:
    post:
      operationId: syncWallets
      tags: [Wallets]
      summary: Sync all wallets from Postgres to cache
      responses:
        '200':
          description: Sync started or completed.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /wallets/stats:
    get:
      operationId: getWalletStats
      tags: [Wallets]
      summary: Get wallet sync stats
      responses:
        '200':
          description: Wallet sync statistics.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /wallets/{address}:
    delete:
      operationId: unregisterWallet
      tags: [Wallets]
      summary: Unregister a wallet
      parameters:
        - name: address
          in: path
          required: true
          description: On-chain wallet address.
          schema:
            type: string
      responses:
        '204':
          description: Wallet unregistered.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        The `/wallets/*` endpoints are authenticated — unauthenticated requests
        return `401 {"error":"Unauthorized"}`. Legend does not publish the
        credential format for this operator surface; `bearer` is recorded as the
        observed-unauthenticated default and is NOT a documented provider claim.
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Unauthorized
  schemas:
    Error:
      type: object
      description: Legend's error envelope — a single `error` string.
      properties:
        error:
          type: string
      required: [error]
    Health:
      type: object
      properties:
        status:
          type: string
          examples: [healthy]
        gitSha:
          type: string
        timestamp:
          type: string
          format: date-time
        checks:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/HealthCheck'
    HealthCheck:
      type: object
      properties:
        status:
          type: string
        latencyMs:
          type: integer
    InfoRequest:
      type: object
      description: Hyperliquid-compatible info request. Additional per-type fields are permitted.
      properties:
        type:
          type: string
          description: The info query to run.
          enum:
            - candleSnapshot
            - recentTrades
            - meta
            - metaAndAssetCtxs
            - openOrders
            - frontendOpenOrders
            - clearinghouseState
            - userFills
      required: [type]
      additionalProperties: true
    Asset:
      type: object
      description: 'A tradable asset in the perpetuals universe (from `type: meta`).'
      properties:
        name:
          type: string
        szDecimals:
          type: integer
        maxLeverage:
          type: integer
        marginTableId:
          type: integer
        isDelisted:
          type: boolean
    SparklineMap:
      type: object
      description: Sparklines keyed by coin symbol.
      additionalProperties:
        $ref: '#/components/schemas/Sparkline'
    Sparkline:
      type: object
      properties:
        candles:
          type: array
          items:
            $ref: '#/components/schemas/Candle'
    Candle:
      type: object
      properties:
        t:
          type: integer
          description: Candle timestamp, epoch milliseconds.
        c:
          type: string
          description: Close price, decimal string.
security:
  - bearerAuth: []
